.container-listagem {
    display: flex;
    flex-direction: column;
    align-items: center;

  
    h1 {
        padding-bottom: 20px;
    }
    th {
        background-color: var(--base-color-second);
    }
}

.table-border {
    border: 2px solid #eb4d04;
    border-radius: 10px;
}


.btn-form-filme {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;

    .cancelar {
        background-color: red;
        border: 2px solid #da1919;
    }
     
}