@use 'form-filme';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 357;
  --hue-second: 196;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 86% 54%);
  --base-color-second: hsl(var(--hue-second) 100% 44%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 100% 0%);
  --footer-color: hsl(var(--hue) 100% 50%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM-Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to right,
    var(--base-color),
    var(--base-color-second)
  );
}
img {
  float: left;
  width: 200px;
  height: 200px;
}
/* TopNav Config*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: var(--base-color-second);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--base-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--base-color);
  color: var(--base-color-second);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--base-color);
  color: var(--base-color-second);
}

.title {
  font: 700 1.25rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.card {
  margin-bottom: 20px;
  border: none;
  align-items: center;
  color: var(--title-color);
  margin-left: 1rem;
}
.card-body {
  background-color: var(--base-color-second);
  color: var(--text-color);
}
.cards {
  gap: 20px;
}
.card img {
  width: 171px;
  height: 260px;
}
.footer {
  background-color: var(--base-color-second);
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-title {
  font: 700 1.25rem var(--title-font);
  color: var(--footer-color);
}

.box-login {
  width: 31.25rem;
  padding: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--base-color-second);
  text-align: center;
  transition: 0.25s;
  margin-top: 6.25rem;
  border-radius: 3rem;
}

.box-login input[type='text'],
.box-login input[type='password'] {
  border: 0;
  background: hsl(var(--hue-second) 100% 50%);
  display: block;
  margin: 1.25rem auto;
  text-align: center;
  border: 2px solid var(--base-color);
  padding: 0.625rem 0.625rem;
  width: 15.625rem;
  outline: none;
  color: var(--base-color-second);
  border-radius: 1.5rem;
  transition: 0.25s;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--title-color);
  opacity: 1; /* Firefox */
}
.box-login h1 {
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 500;
}

.box-login input[type='text']:focus,
.box-login input[type='password']:focus {
  width: 18.75rem;
  border-color: var(--body-color);
}

.box-login input[type='submit'] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box-login input[type='submit']:hover {
  background: #2ecc71;
}

.forgot {
  //text-decoration: underline;
  color: var(--title-color);
}

.contain {
  width: 100%;
}

.slider {
  height: 14rem;
  position: relative;
  margin: 0;
  padding: 0 4%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.slider h3 {
  position: absolute;
  top: 22px;
  z-index: 30;
}

.slider .handle.handlePrev {
  left: 1rem;
  color: var(--base-color-second);
}

.slider .handle.handleNext {
  right: 1rem;
  color: var(--base-color);
}

.slider .handle.active {
  cursor: pointer;
}

.slider .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 7%;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--base-color);
}

.fa {
  font-size: 46px;
  margin-top: 120px;
}
.row__inner {
  -webkit-transition: 450ms -webkit-transform;
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  white-space: nowrap;
  margin: 70.3125px 0;
  padding-bottom: 10px;
}

.movies-card {
  position: relative;
  display: inline-block;
  width: 13.75rem;
  height: 16.25rem;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: 450ms all;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}
.movies-card__img {
  width: 13.75rem;
  height: 16.25rem;
  -o-object-fit: cover;
  object-fit: cover;
}
.movies-card__details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 10px;
  opacity: 0;
  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
}
.movies-card__details:after,
.movies-card__details:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: #000;
}
.movies-card__details:after {
  margin-top: -25px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 3px solid #ecf0f1;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.movies-card__details:before {
  content: '▶';
  left: 0;
  width: 100%;
  font-size: 30px;
  margin-left: 7px;
  margin-top: -13px;
  text-align: center;
  z-index: 2;
}
.movies-card:hover .movies-card__details {
  opacity: 1;
}
.movies-card__title {
  position: absolute;
  bottom: 0;
  padding: 10px;
}
.row__inner:hover {
  -webkit-transform: translate3d(-62.5px, 0, 0);
  transform: translate3d(-62.5px, 0, 0);
}
.row__inner:hover .movies-card {
  opacity: 0.3;
}
.row__inner:hover .movies-card:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}
.movies-card:hover ~ .movies-card {
  -webkit-transform: translate3d(125px, 0, 0);
  transform: translate3d(125px, 0, 0);
}
