@use 'form-filme';
@use 'listagem-filme';
@use 'catalogo';

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 357;
  --hue-second: 196;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 86% 54%);
  --base-color-second: hsl(var(--hue-second) 100% 44%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 100% 0%);
  --footer-color: hsl(var(--hue) 100% 50%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* Fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM-Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(
    to right,
    var(--base-color),
    var(--base-color-second)
  );
}
img {
  float: left;
  width: 200px;
  height: 200px;
}
/* TopNav Config*/

/* Add a black background color to the top navigation */
.topnav {
  background-color: none;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: var(--title-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--base-color);
  color: var(--title-color);
  border-radius: 24px;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: var(--base-color);
  color: var(--title-color);
  border-radius: 24px;
}

.title {
  font: 700 1.25rem var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}
.card {
  margin-bottom: 20px;
  border: none;
  align-items: center;
  color: var(--title-color);
  margin-left: 1rem;
}
.card-body {
  background-color: var(--base-color-second);
  color: var(--text-color);
}
.cards {
  gap: 20px;
}
.card img {
  width: 171px;
  height: 260px;
}
.footer {
  background-color: none;
  width: 100%;
  height: 5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-title {
  font: 700 1.25rem var(--title-font);
  color: var(--title-color);
}
.footer-title a:hover {
  background-color: var(--base-color);
  color: var(--title-color);
  border-radius: 24px;
}
.box-cadastro {
  top: 50%;
  left: 50%;
  text-align: center;
  transition: 0.25s;
  margin-top: 6.25rem;
  border-radius: 3rem;
}
.box-login {
  width: 31.25rem;
  padding: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transition: 0.25s;
  margin-top: 6.25rem;
  border-radius: 3rem;
}
.box-cadastro select,
.box-cadastro input[type='date'],
.box-cadastro input[type='text'],
.box-login input[type='text'],
.box-login input[type='password'] {
  border: 0;
  background: hsl(var(--hue-second) 100% 50%);
  display: block;
  margin: 1.25rem auto;
  text-align: center;
  border: 1px solid var(--base-color);
  padding: 0.625rem 0.625rem;
  width: 15.625rem;
  outline: none;
  color: var(--title-color);
  border-radius: 1.5rem;
  transition: 0.25s;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--title-color);
  opacity: 1; /* Firefox */
}
.box-login h1 {
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: 500;
}

.box-cadastro input[type='date']:focus,
.box-cadastro input[type='text']:focus,
.box-login input[type='text']:focus,
.box-login input[type='password']:focus {
  width: 18.75rem;
  border-color: var(--body-color);
  color: #000;
}

.box-cadastro input[type='submit'],
.box-login input[type='submit'] {
  border: 0;
  background: none;
  //display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box-cadastro input[type='submit']:hover,
.box-login input[type='submit']:hover {
  background: #2ecc71;
}
.box-cadastro select {
  color: var(--title-color);
}
.box-cadastro input[type='cancel'] {
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  border: 1px solid red;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box-cadastro input[type='cancel']:hover {
  background: red;
}
.box-cadastro input[type='date'] {
  color: var(--title-color);
}
.sinopse {
}
.forgot {
  //text-decoration: underline;
  color: var(--title-color);
}



